<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utils.ITestListnersManager"/>
    </listeners>
    <test verbose="2" name="/home/sam/external/Testing/TheInternet" parallel="classes" thread-count="3">
        <packages>
            <package name="tests"></package>
        </packages>
    </test>
</suite>